// Custom styles.
.text-red {
  color: red;
}

.text-green {
  color: green;
}

// Weight and italics
.font-weight-normal { font-weight: normal !important; }
.text-bold   { font-weight: bold !important; }

.text-normal {
  font-size: 16px;
}

.text-large {
  font-size: 24px;
}

.text-small {
  font-size: 12px;
}